
:root{
    --lightGrey:#C4C4C4;
    --Grey:#8B8B8B;
    --paleGrey:#909090;
}
.skills
{
    display: flex;
    justify-content: center;
    text-align: center;
    place-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--lightGrey);
    background: radial-gradient(var(--lightGrey),var(--Grey));
}
.about
{
    display: inline;
    border: 7px solid black;
     width: 300px;
     font-size: 30px;
     align-self: center;
     text-align: center;
     font-family: "Montserrat", sans-serif;
     letter-spacing: 4px;
     padding: 1%;
     margin-top: 10%;
}
.skills p
{
    width: 50%;
    font-size: 20px;
}
.explore
{
    width: 150px;
    border: 0;
    background-color: transparent;
    border-right: 2px solid black;
    border-left: 2px  solid black;
    margin: 3%;
    transition: .2s linear;
    height: 3svh;
    color: black;
}
.explore a
{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-weight: 600;
    transition: .2s linear;
}
.explore:hover
{
    border: 2px solid black;
    background-color: #1D1D1D;
    height: 5svh;
    width: 170px;
}
.explore a:hover
{
    color: white;
}
.skills img
{
    margin: 4%;
    
    width: 20svh;
    height: 1svh;
}
@media screen and (max-width:800px) {
    .skills p
    {
        width: 90%;
    }
}