.tnav
{
    display: none !important;
    background-color: rgba(29, 29, 29,.9);
    justify-content: center;
    display: flex;
    place-items: center;
}
.tbtns
{
    display: flex;
    justify-content: center;
    place-items: center;
}
.tnav a
{
    color: white;
    border-radius: 0;
}
.tnav a:hover{
    background-color: transparent;
}
@media screen and (max-width:800px) {
    .tnav
    {
        display: block !important;
    }
}
@media screen and (max-width:650px) {
    .timg
    {
    display: none;
    }
    .tbtns{
        display: none;
    }
}