:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
    --lightGrey:#C4C4C4;
    --Grey:#8B8B8B;
    --paleGrey:#909090;

}
h1
{
  font-size: 2rem;
}
h2
{
  font-size: 1.5rem;
}
h3
{
  font-size: 1.3rem;
}
h4
{
  font-size: 1;
}
h5
{
  font-size: 0.83rem;
}
h6
{
  font-size: 0.67rem;
}
body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;

  max-width: fit-content;
  background-color: var(--paleGrey);
}
@media screen and (max-width:800px) {
  body{
    padding: 0 0%;
  }
}