.footer
{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    padding: 2% 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer svg
{
    align-self: center;
}
.footer button
{
    width: 20svh;
    height: 3svh;
    color: white;
    transition: .2s linear;
    font-size: 20px;
}
.footer a
{
    width: 100px;
    height: fit-content;
    cursor: pointer;
    border: none;
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    margin-top: 2%;
    font-size: 10px;
}
.icons
{
    margin: 5%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}
.icons i
{
    font-size: 30px;
}
.footer a:hover
{
    
    background-color: white;
    color: black;
}
.footer button:hover
{
    background-color: white;
    color: black;
    
}