.tools
{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    margin: 5% 0;
}
.tech
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20%;
    margin: 10%;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
}
.tech img
{
    margin: 5% 0;
    height: 100px;
    width: 100px;
}
.tech p
{
    font-size: 25px;
    width: 100%;
}
.tools h1
{
    margin: 3% 11%;
}
.tImage
{
    display: flex;
    flex-direction: column;
    margin: 2%;
}